<%= render "requests/wrapper" do %>
  <div class="container">
    <div class="content">
      <h2>Request new content</h2>
    </div>
    <%= form_with scope: :request, url: requests_path, local: true do |form| %>
      <div class="field">
        <div class="control">
          <%= form.label :body, class: "label" %>
          <%= form.text_area :body,
              placeholder: "It would be really nice to have more cat pictures!",
              class: "textarea",
              rows: 6
          %>
        </div>
      </div>
      <div class="field">
        <%= form.submit class: "button is-link", text: "Hello, world" %>
      </div>
    <% end %>
  </div>
<% end %>
