<!DOCTYPE html>
<html lang="en">
  <head>
    <title>YAIndex</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'global-styles' %>
    <%= stylesheet_pack_tag 'global-styles' %>
    <%# for bulma %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
